.main-nav {
    box-sizing: border-box;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.main-nav .link {
    font-family: "Merriweather Sans", sans-serif;
    text-decoration: none;
    font-size: 1.25rem;
    color: rgba(255,255,255,.7);
    font-weight: bold;
}

.main-nav > .container {
    width: 70vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.main-nav .list > .item {
    display: inline-block;
    padding: 0 16px;
}

.main-nav .list > .item:last-child {
    padding-right: 0;
}

.main-nav .list > .item > .link {
    font-size: .9rem;
}